// SansSerif
@font-face {
  font-family: 'Silka Mono';
  src: url('#{$static-path}/fonts/silkamono-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Mono';
  src:
    url('#{$static-path}/fonts/silkamono-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Silka Mono';
  src:
    url('#{$static-path}/fonts/silkamono-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Mono';
  src:
    url('#{$static-path}/fonts/silkamono-regularitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Silka Mono';
  src:
    url('#{$static-path}/fonts/silkamono-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Mono';
  src:
    url('#{$static-path}/fonts/silkamono-semibolditalic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Silka Mono';
  src:
    url('#{$static-path}/fonts/silkamono-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Mono';
  src:
    url('#{$static-path}/fonts/silkamono-bolditalic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

///////// Serif
@font-face {
  font-family: 'Crimson';
  src:
    url('#{$static-path}/fonts/CrimsonText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('#{$static-path}/fonts/CrimsonText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('#{$static-path}/fonts/CrimsonText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('#{$static-path}/fonts/CrimsonText-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('#{$static-path}/fonts/CrimsonText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('#{$static-path}/fonts/CrimsonText-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
